header{
    position: relative;
    text-align: center;
    background-color: darkseagreen;
    font-size: 32pt;
    padding-top: 1%;
    padding-bottom: 1%;
}
div{
    border: 5px solid black;
}
#main{
    
    height: 95vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}
#input{
    width: fit-content;
    padding: 10px;
}
#dayCard{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}